<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link href="./show-email_files/css2" rel="stylesheet" />

  </head>
  <body style="font-family: inherit;">
    <div style="width:95%; margin:auto;max-width:700px;">

      <div
        style="background-color: #4158D0;
         background-repeat:no-repeat;
          {{!-- background-size:auto 50%; --}}
          background-color:white;
         background-image: linear-gradient(43deg, #c5dbd6 0%, #378c78 46%, #085140 100%);"
      >
        {{!-- <img
          src="https://locationapi.onrender.com/assets/logo.png"
          alt="Logo"
          width="57px"
          height="60px"
          style="margin: 15px;cursor:pointer"
        /> --}}
        <div
          style="border-radius: 18px;
        margin:10%; 
        background-color: #ffffff;
        text-align: center;"
        >
          <p>
            <br />
            <h1 style="color: #378c78;font-family:'Courier New', Courier, monospace;">Hi {{name}}</h1>
          </p>

          <div
            style="font-size: 20px; line-height:1.5;color: #378c78;padding-bottom:20px;font-family:'Courier New', Courier, monospace"
          >
          <p style="text-align: left;margin-bottom:0px;margin-inline:15px;padding-inline:5px"> We have recieved your query and we will contact you as soon as possible regarding the same.</p>
           <br>
           <span style="width:100%"> Thank you. </span>
          </div>
    </br>
        </div>
        <br />
        <br />
      </div>
      <footer>
        <div style="margin: 12%">
          <p style="font-size: 16px">
            If you have any questions, feel free message us at
            <a
              href="mailto:sahilgautam981366@gmail.com"
            >sahilgautam981366@gmail.com</a>
             {{!-- We are located at 
            <br> 40 ft. Road Sector 110 Gurgaon,
            (Haryana) India, 122017 --}}
          </p>
        </div>

      </footer>
    </div>

  </body>
</html>







 